@import url('https://fonts.googleapis.com/css?family=Baloo+Bhaina');

$fonts: "Baloo Bhaina", sans-serif;
$bg-color: #79d2a6;
$brown: #ac7339;
$l-brown: #d2a679;
$b_rad: 0.5vw;
@mixin border_shadow($a) {
  border: none;
  box-shadow: none;
}

@media screen and (max-width: 400px) {
  .List {
    width: 90%;
  }
  .Menu {
    width: 90%;
  }
}

.ToDoApp {
  display: flex;
  flex-wrap: wrap-reverse;
  text-align: center;
  padding: 3vw 5vw 4vw 7vw;
  margin-left: 2vw;
  width: 80vw;
  min-height: 35vw;
  font-family: $fonts;
}

.List {
  order: 2;
  margin: 0 1vw 0 2vw;
  width: 60%; 
  background-color: $bg-color;
  border-radius: 1vw;
}
.Menu {
  order: 1;
  margin: 0 1vw 0 2vw;
  padding-left: 2vw;
  width: 30%;
  background-color: $l-brown;
  text-align: left;
  border-radius: 1vw;
}

h1 {
  font-size: 6vw;
  color: #339966;
  text-align: left;
  margin: 1vw 0 0 5vw;
}

h2 {
  font-size: 3vw;
  color: white;
  margin-top: 4vw;
}
h3 {
  font-size: 3vw;
  color: $brown;
  font-size: 3.5vw;
  margin-bottom: 1vw;
  line-height: 1;
}

#inp {
  font: 1.7vw $fonts;
  color: $l-brown;
  border-radius: $b_rad;
  width: 21.5vw;
  border-color: white;
  margin-left: 0.1vw;
  padding-left: 0.4vw;
}

#submitButton, #submitTheme {
  font: 1.6vw $fonts;
  border-radius: $b_rad;
  margin: 1.9vw 1vw 0 0.1vw;
  padding: 0.2vw 1vw 0 0.8vw;
  line-height: 1.4;
  color: white;
  background-color: $brown;
  @include border_shadow(none);
}
#clearButton {
  font: 1.6vw $fonts;
  border-radius: $b_rad;
  margin: 1.9vw 0.2vw 0 0.8vw;
  padding: 0.2vw 0.8vw 0 1vw;
  line-height: 1.4;
  color: #26734d;
  background-color: $bg-color;
  @include border_shadow(none);
}

#listBackgr {
  background-color: white;
  border-radius: 0.9vw;
  margin: 0 4.5vw 3vw 4.5vw;
  padding: 2vw 2vw 1vw 1.5vw;
  text-align: left;
}

ul {
  list-style-type: none;
}

input[type='checkbox'] {
  height: 1.3vw;
  width: 1.3vw;
  border-radius: 25vw;
}
 label {
  color: #996633;
  font: 2.3vw $fonts;
  line-height: 1.5;
  padding-left: 0.5vw;
}

input[type=checkbox]:checked + label {
  text-decoration: line-through;
}

input[type=checkbox]:checked {
  visibility: hidden;
}

h4{
  margin-top: 5.5vw;
  margin-bottom: 0;
  font-size: 2.5vw;
  line-height: 0.5;
  color: white;
}

select {
  margin-bottom: 1.7vw;
  font: 1.1vw $fonts;
  line-height: 0.2;
  color: $brownn;
  border-radius: $b_rad;
  padding: 0.3vw 0 0 0.3vw;
  width: 11.5vw;
}

#submitTheme {
  margin-left: 2vw !important;
}

